AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=ap-south-1

EC2_CPU_IDLE_THRESHOLD=5
EC2_IDLE_DAYS=7
K8S_CPU_THRESHOLD=30
K8S_MEMORY_THRESHOLD=30
S3_DAYS_SINCE_LAST_ACCESS=90

SLACK_WEBHOOK_URL=your_slack_webhook_here
SLACK_ALERT_THRESHOLD=10
